@page "/"
@rendermode InteractiveServer
@using BlazorBootstrap;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>This component demonstrates showing data.</p>

<table class="table">
    <thead>
    <tr>
        <th>Naam</th>
        <th>Artiest</th>
        <td />
    </tr>
    </thead>
    <tbody>
    @foreach (var song in @_songs)
    {
        <tr>
            <td>@song.Name</td>
            <td>@song.Artist</td>
            <td>
                <Button Color="ButtonColor.Light" TooltipTitle="Pas aan" @onclick="() => EditSong(song)"><Icon Name="IconName.Pen"></Icon></Button>
                <Button Color="ButtonColor.Light" TooltipTitle="Verwijder" @onclick="() => _songs.Remove(song)"><Icon Name="IconName.Trash"></Icon></Button>
            </td>
        </tr>
    }
    </tbody>
</table>
<button @onclick="AddSong">Add song</button>

<form @onsubmit="OnSubmit">
    <Dialog Title="Voeg nummer toe" OkButtonType="ButtonType.Submit" Opened="_addSongDialogOpen" CloseButtonClicked="@(() => _addSongDialogOpen = false)" OkText="@(_songs.Any(s => s.Id == song?.Id) ? "Voeg toe" : "Sla op")">
        <div class="flex-column flex-grow-1 gap-1">
            <label class="flex-column">
                Naam
                <InputText @bind-Value="song.Name"></InputText>
            </label>
            <label class="flex-column">
                Artiest
                <InputText @bind-Value="song.Artist"></InputText>
            </label>
            <label class="flex-column flex-grow-1">
                Songtekst
                <InputTextArea @bind-Value="song.Lyrics" class="flex-grow-1"></InputTextArea>
            </label>
        </div>
    </Dialog>
</form>

@code {
    private readonly List<Song> _songs = [new()
    {
        Id = Guid.NewGuid(),
        Name = "Ik ben een nummer",
        Artist = "DeBron",
        Lyrics = "Ik ben een nummer, ik ben een nummer, ik ben een nummer"
    }, new()
    {
        Id = Guid.NewGuid(),
        Name = "Ik ben een ander nummer",
        Artist = "DeBron",
        Lyrics = "Ik ben een ander nummer, ik ben een ander nummer, ik ben een ander nummer"
    }];
    private bool _addSongDialogOpen = false;
    
    [SupplyParameterFromForm]
    private Song? song { get; set; }

    protected override void OnInitialized() => song ??= new();
    
    private void AddSong()
    {
        _addSongDialogOpen = true;
    }
    
    private void EditSong(Song song)
    {
        this.song = song;
        _addSongDialogOpen = true;
    }
    
    private void OnSubmit()
    {
        if (song is null)
            return;

        _songs.Add(song);
        song = null;
        _addSongDialogOpen = false;
    }

    private class Song
    {
        public Guid Id { get; set; } = Guid.NewGuid();
        public string Name { get; set; }
        public string Artist { get; set; }
        public string Lyrics { get; set; }
    }
}