@using BlazorBootstrap;

@if (Opened)
{
    <div class="shadow"></div>
    <div class="dialog-wrapper">

        <div class="dialog">
            <div class="dialog-heading">
                @Title
            </div>
            <div class="dialog-body">
                @ChildContent
            </div>
            <div class="dialog-footer">
                <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" @onclick="CloseDialog">Annuleer</Button>
                <Button Type="OkButtonType" Color="ButtonColor.Primary" @onclick="OnOkButtonClicked">@OkText</Button>
            </div>
        </div>
    </div>    
}

@code {
    [Parameter] public required string Title { get; set; }
    [Parameter] public required string OkText { get; set; }
    [Parameter] public ButtonType OkButtonType { get; set; } = ButtonType.Button;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Opened { get; set; }
    [Parameter] public EventCallback CloseButtonClicked { get; set; }

    private void CloseDialog()
    {
        Opened = false;
        CloseButtonClicked.InvokeAsync();
    }
    
    private void OnOkButtonClicked()
    {
        if (OkButtonType == ButtonType.Button)
        {
            CloseDialog();
        }
    }
}