@using DeBron.PowerPoint.Builder.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization
@using DeBron.PowerPoint.Builder.Components.Pages
@* @using Microsoft.AspNetCore.Components.Authorization *@
@* <Router AppAssembly="typeof(Program).Assembly"> *@
@*     <Found Context="routeData"> *@
@*         <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)"/> *@
@*         <FocusOnNavigate RouteData="routeData" Selector="h1"/> *@
@*     </Found> *@
@* </Router> *@

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>Je hebt geen toegang tot deze pagina.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Pagina niet gevonden.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
